body {
    background-color: rgb(204, 204, 255);
    font-family:'Annie Use Your Telescope';font-size: 22px;
}
h2 {color: rgb(107, 21, 89);}
h1 {color: rgb(70, 21, 71);}
h1{font-size: 60px;}
p{font-size: 30px;}

div{ position: absolute;
    left: 150px;
    }
h1{position: absolute;
left: 750px;}

        
        
     